HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**

### 下面的文件不提交 ###
**/src/test/**
*.log
### 生产环境的配置文件 ###
application-prod.yml
application-prod.yaml
application-prod.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
src/main/resources/static/
src/main/resources/templates/
/src/main/resources/application-prod.yml
