<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lpc.dao.StudentStatusRecordMapper">
    <resultMap id="BaseResultMap" type="com.lpc.entity.pojo.StudentStatusRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="BIGINT"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="status_id" property="statusId" jdbcType="INTEGER"/>
        <result column="status_start_date" property="statusStartDate" jdbcType="DATE"/>
        <result column="status_start_time" property="statusStartTime" jdbcType="TIME"/>
        <result column="status_duration" property="statusDuration" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, real_name, status_id, status_start_date, status_start_time, status_duration
    </sql>

    <select id="selectStudentStatusMonthly" resultType="com.lpc.entity.pojo.StudentStatusRecord">
        select
        <include refid="Base_Column_List"></include>
        from student_status_record
        <where>
            username = #{username}
            and
            status_start_date between #{startTime} and #{endTime}
        </where>
    </select>
</mapper>