<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lpc.dao.SystemUserMapper">
    <resultMap id="BaseResultMap" type="com.lpc.entity.pojo.SystemUser">
        <id column="username" property="username" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>
        <result column="status_id" property="statusId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        username, real_name, password, role_id, status_id
    </sql>

    <select id="selectSystemUserByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_user
        <where>
            username = #{username}
        </where>
    </select>

    <update id="updatePasswordByUsername">
        update system_user
        set password = #{password}
        <where>
            username = #{username}
        </where>
    </update>

    <select id="selectSystemUsers" resultType="com.lpc.entity.dto.SystemUserRoleDTO">
        select
        u.username,
        u.real_name,
        u.role_id,
        r.description as role
        from system_user u left join enum_role r
        on u.role_id = r.id
        <where>
            <if test="realName != ''">
                real_name like concat('%',#{realName},'%')
            </if>
        </where>
    </select>

    <select id="selectUserRealNameByUsername" resultType="java.lang.String">
        select real_name
        from system_user
        <where>
            username = #{username}
        </where>
    </select>

    <delete id="deleteSystemUserByUsername">
        delete from system_user
        <where>
            username = #{username}
        </where>
    </delete>

    <update id="updateUserRole" parameterType="com.lpc.entity.pojo.SystemUser">
        update system_user
        set role_id = #{roleId}
        <where>
            username = #{username}
        </where>
    </update>

    <insert id="insertSystemUser" parameterType="com.lpc.entity.pojo.SystemUser">
        insert into system_user
            (username, real_name, password, role_id)
        values
            (#{username}, #{realName}, #{password}, #{roleId})
    </insert>

    <select id="selectStudents" resultType="com.lpc.entity.dto.StudentDTO">
        select
        u.username,
        u.real_name,
        u.status_id,
        s.status as status
        from system_user u
        left join enum_status s on u.status_id = s.id
        left join enum_role r on u.role_id = r.id
        <where>
            r.role = 'student'
            <if test="realName != ''">
                and real_name like concat('%',#{realName},'%')
            </if>
        </where>
    </select>
</mapper>